<!doctype html>

<html>
<head>
<title> {% block title %}{% endblock %} </title>
    </head>
    <div>
        SupportsConnect:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    <body>
        <h1> supportsConnect </h1>
        <p> This is stuff from the base.html file. Put stuff here that should be on every page. E.g. header/footer </p>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
   		{% block content %}{% endblock %}
    </body>
</html>