<!doctype html>

<html>
    <head>
        <title> {% block title %}{% endblock %} </title>
    </head>

    <div>
        SupportsConnect:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('client_dashboard', email=current_user.email) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <div>
        Profile Navigation Bar (tmp):
        <a href="{{ url_for('client_profile_personal_info') }}">Edit Profile</a> &nbsp;&nbsp; 
        <a href="{{ url_for('client_connect') }}">Connect</a> &nbsp;&nbsp; 
        <a href="{{ url_for('client_my_support_workers') }}">My Support Workers</a> &nbsp;&nbsp; 
        <a href="{{ url_for('account') }}">Account</a> &nbsp;&nbsp; 

    </div>
    <body>
        <h1> supportsConnect </h1>
        <p> This is stuff from the client_base.html file. Put stuff here that should be on every client's page </p>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
   		{% block content %}{% endblock %}
    </body>
</html>
