{% extends "client_base.html" %}

{% block content %}

    <h1>Client Connect Page </h1>
    
    <div>
        <button onclick="location.href='http://localhost:5000/client_connect'" type="button">
         Connect</button>
        <button onclick="location.href='http://localhost:5000/client_connect_requests'" type="button">
         Requests</button>
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            <a> Support Worker Email Address</a><br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
      
        <p>{{ form.send_request() }}</p>
    </form>
{% endblock %}