{% extends "client_base.html" %}
{% block title %}View Support Worker Profile{% endblock %}
{% block firstname %}{{user.firstName}}{% endblock %}
{% block lastname %}{{user.lastName}}{% endblock %}
{% block accounttype %}{{user.accountType}}{% endblock %}
{% block header %}
<h3 style="padding: 15px 0;font-weight: bold;">View Support Worker Profile</h3>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/scss/report.css"> 
    
    <h1>{{ support_worker.firstName }} {{ support_worker.lastName }}</h1>

    <b> Phone:</b> {{ support_worker.contactNo }} 
    <br> 
    <b> Email: </b>{{ support_worker.email }} 
    <br>
    <b> Address:</b> {{ support_worker.homeAddress }} 
    <br>
    <br>
    <b> Short Bio:</b> {{ support_worker.shortBio }} 
    <br>
    
    <h3> Personal Details </h3>
    <b> Age:</b> {{ support_worker.age }} 
    <br>
    <b> Gender:</b> {{ support_worker.gender }} 
    <br>
    <b> Language(s):</b> {{ support_worker.languages }}
    <br>
    <b> Interests:</b> {{ support_worker.interests }}
    
    {% if work_history: %}
        <h3> Work History </h3>
        {% for work in work_history %}
            <a> Role: {{ work.role }} </a>
            <br>
            <a> Location: {{ work.location }} </a>
            <br>
            <a> Start Date: {{ work.startDate }} </a>       
            <br>
            <a> End Date: {{ work.startDate }} </a>         
            <br>
            <br>
        {% endfor %}
    {% endif %}
    {% if training: %}
        <h3> Training </h3>
        {% for train in training %}
            <b> Course: </b>{{ train.course }}
            <br>
            <b> Institution: </b> {{ train.institution }} 
            <br>
            <b> Start Date: </b> {{ train.startDate }}       
            <br>
            <b> End Date: </b>  {{ train.startDate }}         
            <br>
            <br>
        {% endfor %}
    {% endif %}
    
    
{% endblock %}