{% extends "client_base.html" %}

{% block content %}

    <div>
        <button onclick="location.href='http://localhost:5000/client_shift_requests'" type="button">
         Requests</button>
        <button onclick="location.href='http://localhost:5000/client_shift_scheduled'" type="button">
         Scheduled</button>
          <button onclick="location.href='http://localhost:5000/client_shift_completed'" type="button">
         Completed</button>
    </div>


    <h1> Client: View Completed Shifts </h1>


    <form action="" method="post">

        <p>
            {% for shift in shifts %}
            
                <big><b> {{ shift.client_name }} </b></big><br>
        
                <a> {{ shift.date }} <br><br>
        
                <b> Start Time: </b> <a> {{ shift.start_time }} </a><br>
        
                <b> End Time: </b> <a> {{ shift.end_time }} </a><br>
                
                {% if shift.report_status == 'completed'%}
                    <a href="/client_view_report/{{ shift.report_id }}/{{ shift.worker_name }}/{{ shift.client_name }}"><button type='button'>Read Report</button></a>
                {% elif shift.report_status == 'pending' %}
                    <a> Report yet to be completed </a>
                {% endif %}
                <br><br><br>
            {% endfor %}
        </p>
    </form>


    
    
{% endblock %}