{% extends "client_base.html" %}
{% block title%} Client Dashboard {% endblock %}

{% block content %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.js"></script>
    <div id="calendar"></div>
    <script>
        let calendarEl = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
            events: [
                {% for event in events %}
                {
                    title: '{{ event.title }}',
                    start: '{{ event.start }}',
                    end: '{{ event.end }}'
                },
                {% endfor %}
            ],
            initialView: 'timeGridWeek',
            headerToolbar: {
                left: 'title',
                center: '',
                right: 'today timeGridDay,timeGridWeek,dayGridMonth'
            },
            footerToolbar: {
                left: '',
                center: '',
                right: 'prevYear,prev,next,nextYear'
            },
            
            allDaySlot: false,
            selectable: true,
            nowIndicator: true
        });

        calendar.render();
    </script>
    <button onclick="location.href='http://localhost:5000/client_add_shift'" type="button">Add Shift</button>

{% endblock %}
