{% extends "client_base.html" %}
{% block title%} Client Dashboard {% endblock %}

{% block content %} 
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.js"></script>
    <div id="calendar"></div>
    <script>
        let calendarEl = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            headerToolbar: {
                left: 'title',
                center: '',
                right: 'today timeGridDay,timeGridWeek,dayGridMonth'
            },
            footerToolbar: {
                left: '',
                center: '',
                right: 'prevYear,prev,next,nextYear'
            },
            
            selectable: true,
            nowIndicator: true
        });

        calendar.render();
    </script>
</body>

{% endblock %}
