{% extends "base.html" %}
{% block title%} Create Account Page {% endblock %}

{% block content %} 
<form action="#" method="post">
	<p>First Name: </p>
	<p><input type="text" name="first_name" /></p>

	<p>Last Name: </p>
	<p><input type="text" name="last_name" /></p>

	<p>Email Address: </p>
	<p><input type="text" name="email" /></p>

	<p><label for="user_type">Support worker or recipient?:</label></p>

	<select name="user_type" id="user_types" multiple>
		  <option value="support_worker">support worker</option>
		  <option value="recipient">recipient</option>
	</select>


	<p><input type="submit" value="submit"/></p>

</form>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p style="color:green;">{{msg}}</p>	
			{% endfor %}
		{% endif %}
	{% endwith%}


{% endblock %}