{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<h1>Hi, {{ current_user.email }}!</h1>
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front page</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="responsive.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <section class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="contact">
                                <p><span class="phone"><a href="#">Phone: +61 0412345678</a></span><span class="email"><a href="#">Email: helpinghands@gmail.com</a></span></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="join-us">
                                <p><a href="#">JOIN US NOW</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <a href="#"></a>
                                <div class="main-logo">
                                    <img src="img/logo.jpg" width="150" height="90" alt="">
                                    <h2>DISABILITY SUPPORT </h2>
                                    <!-- <h4>HELPING HANDS</h4> -->
                                </div>
                            
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="menu">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">HOME</a></li>
                                    <li><a href="#">ABOUT US</a></li>
                                    <li><a href="#">EVENTS</a></li>
                                    <li><a href="#">CAREERS</a></li>
                                    <li><a href="#">CONTACT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section class="carosal-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="client owl-carousel owl-theme">
                            <div class="item">
                                <div class="text">
                                    <h3>WE RISE BY LIFTING OTHERS</h3>
                                    <p>Let your light shine so brightly that others can see their way out of the dark </p>
                                    <h5 class="white-button"><a href="#">SIGN IN</a></h5>
                                    <h5><a href="#">SIGN UP</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <<h3>WE RISE BY LIFTING OTHERS</h3>
                                    <p>Let your light shine so brightly that others can see their way out of the dark </p>
                                    <h5 class="white-button"><a href="#">SIGN IN</a></h5>
                                    <h5><a href="#">SIGN UP</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>WE RISE BY LIFTING OTHERS</h3>
                                    <p>Let your light shine so brightly that others can see their way out of the dark </p>
                                    <h5 class="white-button"><a href="#">SIGN IN</a></h5>
                                    <h5><a href="#">SIGN UP</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>WE RISE BY LIFTING OTHERS</h3>
                                    <p>Let your light shine so brightly that others can see their way out of the dark </p>
                                    <h5 class="white-button"><a href="#">SIGN IN</a></h5>
                                    <h5><a href="#">SIGN UP</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>WE RISE BY LIFTING OTHERS</h3>
                                    <p>Let your light shine so brightly that others can see their way out of the dark </p>
                                    <h5 class="white-button"><a href="#">SIGN IN</a></h5>
                                    <h5><a href="#">SIGN UP</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our_activity">
            <h2>OUR ACTIVITY</h2>
            <p>Finding the best support worker became super easy.<br> Search from our list of support workers to receive the best services. </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">near_me</i>
                            </div>
                            <h2><a href="#">Scheduling</a></h2>
                            <p>Finding the best support worker became super easy.<br> Search from our list of support workers to receive the best services.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">dashboard</i>
                            </div>
                            <h2><a href="#">Reporting</a></h2>
                            <p>Finding the best support worker became super easy.<br> Search from our list of support workers to receive the best services. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">favorite</i>
                            </div>
                            <h2><a href="#">Volunteering</a></h2>
                            <p>Finding the best support worker became super easy.<br> Search from our list of support workers to receive the best services. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        <section class="events_section_area">
            <h2>UPCOMING EVENTS</h2>
            <p>Join us for the upcoming events </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="img/event4.jpeg" height="260" alt="">
                            <p><span class="event_left"><i class="material-icons">access_time</i>1:00 pm - 3:00 pm</span><span class="event_right"><i class="material-icons">location_on</i>UNSW High Street</span></p>
                            <div class="clear"></div>
                            <h3>Superstar Day</h3>
                            <h6>Finding the best support worker became super easy.<br> Search from our list of support workers to receive the best services.</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="img/event2.jpeg" alt="">
                            <p><span class="event_left"><i class="material-icons">access_time</i>1:00 pm - 3:00 pm</span><span class="event_right"><i class="material-icons">location_on</i>Eastlakes</span></p>
                            <h3>Wellness Day</h3>
                            <h6>Finding the best support worker became super easy.<br> Search from our list of support workers to receive the best services.</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="img/event3.jpeg" alt="">
                            <p><span class="event_left"><i class="material-icons">access_time</i>1:00 pm - 3:00 pm</span><span class="event_right"><i class="material-icons">location_on</i>Kensington</span></p>
                            <h3>Sunny side up</h3>
                            <h6>Finding the best support worker became super easy.<br> Search from our list of support workers to receive the best services.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        
        
        
        <div class="clear"></div>
        <section class="volunteer_area">
            <h2>Our Support Workers</h2>
            <p>Finding the best support worker became super easy.<br> Search from our list of support workers to receive the best services. </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="volunteer_single owl-carousel owl-theme">
                            <div class="item">
                                <img src="img/v1.jpg" width="120" height="170" alt="">
                                <div class="text">
                                    <h3>Laura Jammy</h3>
                                    <h6>Nursing</h6>
                                    <p>We rise by lifting others <br> We rise by lifting others</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/v2.jpg" width="120" height="170" alt="">
                                <div class="text">
                                    <h3>Albert R. Ardoin</h3>
                                    <h6>Nursing</h6>
                                    <p>We rise by lifting others <br> We rise by lifting others</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/v3.jpg" width="120" height="170" alt="">
                                <div class="text">
                                    <h3>Cynthia Anni</h3>
                                    <h6>Nursing</h6>
                                    <p>We rise by lifting others <br> We rise by lifting others</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/v4.jpg" width="120" height="170" alt="">
                                <div class="text">
                                    <h3>Babu Bhaiya</h3>
                                    <h6>Nursing</h6>
                                    <p>We rise by lifting others <br> We rise by lifting others</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/v5.png" width="120" height="170" alt="">
                                <div class="text">
                                    <h3>Rutuja Bandawar</h3>
                                    <h6>Nursing</h6>
                                    <p>We rise by lifting others <br> We rise by lifting others</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/v6.png" width="120" height="170" alt="">
                                <div class="text">
                                    <h3>Aishwarya Agarwal</h3>
                                    <h6>Nursing</h6>
                                    <p>We rise by lifting others <br> We rise by lifting others</p>
                                    <h5><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        




        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-charity-text">
                            <h2>DISABILITY SUPPORT</h2>
                            <p>We rise by lifting others <br> We rise by lifting others </p>
                            <hr>
                            <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4 col-sm-5">
                                <div class="footer-text one">
                                    <h3>RECENT POST</h3>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Event 1</a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Event 2 </a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Event 3</a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Event 4</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <div class="footer-text two">
                                    <h3>USEFUL LINKS</h3>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">About us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="footer-text one">
                                    <h3>CONTACT US</h3>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">location_on</i>1 Street, derby, NSW 2147, Australia</a></li>
                                        <li><a href="#"><i class="material-icons">email</i>helpinghands@gmail.com</a></li>
                                        <li><a href="#"><i class="material-icons">call</i>+61 0412345678</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p>THANKS</p>
            </div>
        </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/animationCounter.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/active.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>

</html>



{% endblock %}

