{% extends "base.html" %}

{% block content %}

    <div class="grid12-6">

        <img src="/static/images/signup.jpg" width="1598" height="821">
        <div class="inner_box">
        </br>   <h2>Who will be using this platform?</h2>
        </br><p>Will you be using this platform for yourself or for someone else?</p>
        </br> 
        </br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            
        <a href="{{ url_for('sign_up_client') }}"> {{ form.client_self_managed() }} </a>
        </br>   
        </br> 
        </br> 
        </br> 
        <a href="{{ url_for('sign_up_client_guardian') }}"> {{ form.client_guardian() }} </a>
        </form>
        </div>
        
    </div>
{% endblock %}