{% extends "base.html" %}

{% block content %}

<div class="grid12-6">

    <img src="/static/images/signup.jpg" width="1598" height="821">
    <div class="inner_box">
    </br>   <h2>Welcome!</h2>
    </br><p>Which of the following best describes you?</p>
    </br> </br> 
    <form action="" method="post">
        {{ form.hidden_tag() }}
    <a href="{{ url_for('sign_up_client_type') }}">{{ form.client() }}</a>
    </br>
    </br>
    </br>
    </br> 
    <a href="#">{{ form.support_worker() }}</a>
    </form>
    </div>
</div>

    
{% endblock %}

