{% extends "worker_base.html" %}
{% block title %}View Client Profile{% endblock %}
{% block firstname %}{{user.firstName}}{% endblock %}
{% block lastname %}{{user.lastName}}{% endblock %}
{% block accounttype %}{{user.accountType}}{% endblock %}
{% block header %}
<h3 style="padding: 15px 0;font-weight: bold;">View Client Profile</h3>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/scss/report.css"> 
    
    <h2>{{ client.firstName }} {{ client.lastName }}</h2>

    <a> Phone: {{ client.contactNo }} </a>
    <br> 
    <a> Email: {{ client.email }} </a>
    <br>
    <a> Address: {{ client.homeAddress }} </a>
    <br>
    <br>
    <a> Short Bio: {{ client.shortBio }} </a>
    <br>
    <br>
    <a> Age: {{ client.age }} </a>
    <br>
    <a> Gender: {{ client.gender }} </a>
    
{% endblock %}

