{% extends "worker_base.html" %}
{% block title %}Complete Shift Report{% endblock %}
{% block firstname %}{{user.firstName}}{% endblock %}
{% block lastname %}{{user.lastName}}{% endblock %}
{% block accounttype %}{{user.accountType}}{% endblock %}
{% block header %}
<h3 style="padding: 15px 0;font-weight: bold;">Complete Shift Report</h3>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/scss/report.css"> 
    <h2> {{ client_full_name }} </h2>
    <h3> {{ shift.date }} </h3>
    
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            <b>{{ form.mood.label}}</b> <br>
            {{ form.mood() }}
            {% for error in form.mood.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> 
        <p>
            <br><b> Where did you take the client? </b><br><br>
            {{ form.locations }}
            <br><br>
            {{ form.new_location.label }}
            {{ form.new_location }}
            
        </p>
        <p>
            <br><b> What activities did you do? </b><br><br>
            {{ form.activities }}
            <br><br>
            {{ form.new_activity.label }}
            {{ form.new_activity }}
            
        </p>
        <p>
            <br><b> Were there any incidents? </b><br>
            {{ form.incident }}
            <p> If you answered 'Yes', please fill out the Incident Report </p><br>

            <br>
            <br><b> {{ form.incidents_text.label }} </b><br>
            {{ form.incidents_text(cols=50, rows=4) }}

        <p>
        </p>
            <br><b>{{ form.report_text.label }}</b> <br>
            {% if form.report_text.data %}
                {{ form.report_text(placeholder = form.report_text.data) }}
            {% else %} 
                {{ form.report_text(cols=50, rows=4) }}
            {% endif %}
            {% for error in form.report_text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>    
      
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}







