<!doctype html>

<html>
    <head>
        <title> {% block title %}{% endblock %} </title>
    </head>

    <div>
        SupportsConnect:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('worker_dashboard', email=current_user.email) }}"' >Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <div>
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="images/img1.jpg" class="img-responsive" alt="">
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">{{user.firstName}} {{user.lastName}}</div>
                    <div class="profile-usertitle-status">{{user.accountType}}</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="divider"></div>
        <hr>
        <ul class="nav menu">
            <li class="active"><a href="worker_dashboard"><em class="fa fa-home">&nbsp;</em>Dashboard</a></li>
            <li><a href="worker_shift"><em class="fa fa-bars">&nbsp;</em>Shift</a></li>
            <li><a href="worker_my_clients"><em class="fa fa-users">&nbsp;</em>My Clients</a></li>
            <li><a href="worker_connect"><em class="fa fa-user-plus">&nbsp;</em>Connect</a></li>
            <li><a href="worker_reports"><em class="fa fa-file">&nbsp;</em>Reports</a></li>
            <li><a href="account"><em class="fa fa-cog">&nbsp;</em>Account</a></li>
            <div class="h_line"></div>
            <hr>
            <div class="information1">
                <li><a class="information" href="#">Contact</a></li>
                <li><a class="information" href="#"> Help</a></li>
            </div>
        </ul>
    </div>
    <body>
        <h1> supportsConnect </h1>
        <p> This is stuff from the worker_base.html file. Put stuff here that should be on every support worker's page </p>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
   		{% block content %}{% endblock %}
    </body>
</html>
