{% extends "worker_base.html" %}

{% block content %}

    <h1> Support Worker: View Reports </h1>
    

    <form action="" method="post">
    
        {{ form.hidden_tag() }}
    
        {{ form.clients.label }}    
        {{ form.clients }}
        {{ form.client_submit}}
        <br><br>
        {{ form.activities.label }}
        {{ form.activities }}
        {{ form.activity_submit}}        
        
        {{ form.submit }}
                    
            
        
    </form>
    
{% endblock %}