body {
    background: #f8f7f5;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.navbar-default {
    background-color: #099268;
    border: 1px solid #2b8165;
    border-radius: 0;
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.top-bar {
    display: flex;
    align-items: center;
}
.logo-brand {
    float: left;
}
.container-fluid{
    padding: 10px 25px;
    
}
.navbar-brand > img {
    margin-right:20px ;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
}
.navbar-right{
    font-size: 15px;
    border: 1px solid white;
    border-radius: 25px;
}
.content-wrapper {
    width: 100%;
    display: flex;
    padding: 25px 0;
    
}
.side-nav {
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0 40px;
}
.main-content {
  
    background: white;
    border-radius: 16px;
    padding:25px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 65%;
}
.side-main-content {
    background: white;
    border-radius: 16px;
    padding:25px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 65%;
}

.border {
    border:1px solid #010000;
    width: 100%;
}
.sidebar {
    position: relative;
    z-index: 1;
    background-color:transparent;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    font-size: 17px;
    color: #141311;
    display: block;
  }
  
  
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  .margin-top-border{
    margin-top: 20px;
  }
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .short-text {
    color: #989795;
    padding-top: 10px;
}
  .main-wrapper{
    width: 70%;
    margin-left: 5%;
  }
  .right-side-wrapper {
      width: 15%;
      margin: 0 40px;

  }
  #calendar{
      height: 100%;
  }
  .fc .fc-button-primary{
    background-color:white !important;
    border:1px solid #099268 !important;
    color: #099268 !important;
  }
  .fc-dayGridMonth-button {
      margin-right: 15px !important;
      border-radius: 8px !important;
  }
  .fc-timeGridWeek-button {
    margin-right: 15px !important;
    border-radius: 8px !important;

}
.fc-timeGridDay-button {
    border-radius: 8px !important;

}
.green-color {
    color: #099268 !important;
}
.isActive {
    color: #099268 !important;
}
.activeTab {
    color: #099268 !important;
    font-weight: bold;
    border-bottom: 4px solid #099268 !important;
}
.nav-tabs>li>a:hover {
    border-color: #099268 #099268 #099268;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #09926842;
}
.scheduled {
    padding: 25px 50px;
}
.list {
    width: 100%;
    height: auto;
    border: 1px solid #099268;
    border-radius: 16px;
}
.img-part{
    padding: 0 15px;
}
.key {
    font-weight: 600;
}
.value {
    font-weight: 500;
}
.custom-btn {
    border-radius: 30px;
}
.update {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
}
